.card-container {
    position: relative;
    width: 18vw;
    height: 25.3vw;
    align-self: center;

    @media screen and (max-width: 420px) {
        width: 55vw;
        height: 75vw;
    }

    .card {
        position: absolute;
        transition: all 0.8s ease;
        backface-visibility: hidden;
        top: 0;
        left: 0;
    }

    // .card-back {
    //   transform: rotateY(-180deg);
    //   background-image: url('../../public/cards/_deck_back.jpg');
    // }
}

.card-container .active-container {
    .card:not(.card-back) {
        transform: rotateY(180deg);
    }

    // .card-back {
    //   transform: rotateY(0deg);
    // }
}